* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#modal {
  z-index: 10;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

#modal.hide {
  display: none;
}

#modal form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background: #fff;
  padding: 1.5rem;
}

#books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  flex: 0 0 300px;
  height: 300px;
  background: #cac;
  display: flex;
  flex-direction: column;
}
